body {
  font-family: serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #37353E;
  color: #FAFAFA;
  letter-spacing: 0.5px;
}

h1 { color: #A78BFA; }
a { color: #8BAE66; }
a:visited { color: #628141; }


header {
  text-align: center;
}

nav {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px 0; 
}

nav a { padding: 0 5px; } 

main {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 0 5px;
  font-size: 10px;
  letter-spacing: 1px;
}
